body {
  background-color: #1c2838;
}

.block {
  background-color: #1c2838;
  margin-top: 40px;
  margin-bottom: 16px;
  font-family: "Arial";
  color: #c6d4df;
}

h4 {
  margin-top: 0px;
  margin-bottom: 0px;
}

.right a {
  float: right;
  background-color: rgba(103, 193, 245, 0.2);
  color: #67c1f5;
  font-size: 12px;
  padding: 5px 5px;
}

.block_header h4 {
  margin-bottom: 12px;
  padding-left: 2px;
  padding-top: 3px;
  padding-bottom: 3px;
  font-size: 20px;
  font-weight: 100;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #c6d4df;
  border-bottom: 1px solid;
}

a:-webkit-any-link {
  cursor: pointer;
}

.slider_left, .slider_right {
  position: absolute;
  width: 38px;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.slider_left:hover, .slider_right:hover {
  background-color: rgba(198, 202, 209, 0.2);
}

.slider_left {
  left: 0;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('left.png');
  background-size: 20px;
}

.slider_right {
  right: 0;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('right.png');
  background-size: 20px;
}

.slider_comp {
  background: #122333;
  position: relative;
  height: 18px;
  user-select: none;
}

.slider {
  position: absolute;
  left: 39px;
  right: 39px;
  top: 0;
  bottom: 0;
  background-color: rgba(10, 10, 10, 0.2);
  border-radius: 3px;
}

.handle {
  position: absolute;
  top: 0;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  height: 18px;
  width: 60px;
  cursor: pointer;
}

.handle:hover {
  background-color: rgba(198, 202, 209, 0.2);
}

.store_horizontal_games {
  height: 132px;
  overflow: hidden;
  margin-bottom: 1px;
}

#recommended_block_content {
  white-space: nowrap;
  width: auto;
}

.game_info {
  background-color: rgb(0, 0, 0, 0.2);
  float: none;
  display: inline-block;
  vertical-align: top;
  padding: 15px;
  height: 100px;
  margin-right: 2px;
  position: relative;
}

.game_info:hover {
  background-color: rgba(198, 202, 209, 0.2);
}

.game_info img {
  width: 172px;
  max-width: 100%;
  border: none;
}

.game_info h4 {
  height: 19px;
  font-size: 13px;
  font-family: "Motiva Sans", Sans-serif;
  font-weight: normal;
  color: #8f98a0;
  width: 172px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  margin-bottom: 0px;
}

.final_price {
  line-height: 15px;
  font-size: 11px;
  color: #acdbf5;
}